<div class="w3-border-bottom w3-row">
  <div class="w3-half w3-section">
    <b>{{grouped_orders_product.product_name}}</b><br>
    {{grouped_orders_product.product_price}} {{grouped_orders_product.currency}}/{{grouped_orders_product.product_unit}}<br>
    <i>{{grouped_orders_product.product_producer}}</i>
  </div>
  <div class="w3-half w3-margin-bottom w3-section">
   <select class="w3-select w3-border w3-round-large" <!--name="quantity-{{grouped_orders_product.product_name}}"-->>
      <option value="">Anzahl</option>
      {% for quantity in quantity %}
        <option value="{{quantity}}">{{quantity}}</option>
      {% endfor %}
    </select>
    <p>
      {{grouped_orders_product.product_price}}*2
    </p>
  </div>
</div> 