<!DOCTYPE html>
<html>
  {% include 'head.html' %}
  <body>
  {% include 'nav.html' %}
    <div class="w3-section w3-container">
      <div class="w3-container w3-content w3-padding-32">
        <table class="w3-table w3-card">
        <tr>
          <th>Name</th>
          <th>Lieferdatum</th>
          <th>Status</th>
          <th></th>
        </tr>
          
          {% for grouped_order in grouped_orders %}
          <tr>
            <td>{{grouped_order.name}}</td>
            <td>{{grouped_order.date_delivery.strftime('%d.%m.%Y')}}</td>
            <td>{{grouped_order.status}}</td>
            <td><a class="w3-button w3-black" href="/order/{{grouped_order.id}}">Bestellen</a></td>
          </tr>
          {% endfor %}
        </table>     
      </div>
    </div>
  </body>
</html>